:host {
  display: block;
  width: 350px;
  min-height: 200px;
}

mat-toolbar {
  .title {
    margin-left: 8px;
    font-size: 16px;
  }
}

.content-card {
  margin: 16px;

  mat-card-content {
    padding-top: 16px;
  }

  mat-card-actions {
    padding: 16px;
  }
}
